.menu {
    font-size: 12px;
    padding: 0;
    margin: 20px 0;
    text-transform: uppercase;
    height: 50px;
    width: 50%;
    text-align: right;
    
}

.menu ul {
    margin: 0;
    padding: 0;
    text-align: right;
    justify-content: top right;
    font-size: 20px;
    
}

.menu ul li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: top right;
}

.menu a {
    text-decoration: none;
    color: #000000;
}

.menu a:hover {
    color: #da0f0f;
}

#name {
    font-size: 30px;
    text-align: center;
    background: linear-gradient(to bottom right, #da0f0f, #fda90c, #fff126, rgb(68, 31, 201));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}