body {
    background-color: #d8d3c8;
}

.menu {
    width: 100%;
    font-size: 20px;
    list-style: none;
    height: 40px;
    
}
  
.menu ul {
    padding: 0;
    margin: 0;
    justify-content: space-between;
    line-height: 40px;
    text-align: right;
}
  
.menu ul li {
    display: inline;
}

.menu a {
    text-decoration: none;
    color: #0a8edb;
}
  
.menu a:hover {
    color:#0b4363;
}
  
.name {
    font-size: 40px;
    text-align: center;
    background: linear-gradient(to bottom, #aa0adb, #0a8edb, #aa0adb);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
}

.slogan {
    color: #0a76b4; 
    text-align: center;
}

.mypic {
    width: 350px;
    height: 350px;
    margin: 20px auto 0 auto;
    display: inline-flex;
    position: relative;
}

.certificate {
    width: 750px;
    height: 600px;
    margin: 20px auto 0 auto;
    display: inline-flex;
    position: relative;
}

#about_me {
    display: inline-flex;
    margin-top: 3em;
}

#pic {
    width: 40%;
}

.bio {
    width: 60%;
    font-size: 17px;
    margin: auto 150px auto 20px;
}

#cert {
    font-size: 19px;
    list-style: none;
    margin: auto;
    
}
  
#cert ul {
    line-height: 40px;
}

#cert a {
    text-decoration: none;
    color: #0970ac;
}
  
#cert a:hover {
    color:#0b4363;
}

#work {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 3em;
}

.website {
    width: 33%;
    margin: 10px 35px;
    display: inline;
}

.website a {
    text-decoration: none;
    font-size: 23px;
    color: #0a76b4;
}

.website a:hover {
    color: #0b4363;
    text-decoration: underline;
}

.website img {
    width: 350px;
    height: 250px;
    margin: 35px auto;
}