body {
    background-color: #1f93ff;
}
  
.menu {
    width: 100%;
    font-size: 20px;
    list-style: none;
    height: 40px;
    
}
  
.menu ul {
    padding: 0;
    margin: 0;
    justify-content: space-between;
    line-height: 40px;
    text-align: right;
}
  
.menu ul li {
    display: inline;
}

.menu a {
    text-decoration: none;
    color: #000000;
}
  
.menu a:hover {
    color: #da0f0f;
}
  
#name {
    font-size: 30px;
    text-align: center;
    background: linear-gradient(to bottom right, #da0f0f, #fda90c, #fff126, rgb(68, 31, 201));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
}
  
.logo {
    width: 50%;
    height: 350px;
    margin: auto;
}